<nav>
    <img src="../../assets/img/logo.webp" class="logo">

    <div class="links">
        <a routerLink="/home" routerLinkActive='active'>Home</a>    
        <a routerLink="#" routerLinkActive='active'>Explore</a>    
        <a routerLink="/search-results" routerLinkActive='active'>More Cities</a>    
        <a routerLink="#" routerLinkActive='active'>News</a>    
        <a routerLink="#" routerLinkActive='active'>Contact</a>
    </div>

    <div class="actions">
        <button type="button">Register/Login</button>
        <button class="highlight" type="button">Add Listing</button>
    </div>
</nav>